version: '2.2'
services:
  jupyter_datascience:
    build:
        context: ./
        dockerfile: jupyter.Dockerfile
   # volumes:
   #     - /home/jovyan:/home/jovyan
    shm_size: 1G
    environment:
      - GRANT_SUDO=yes
   #   - PASSWORD=
    restart: always
   # restart: on-failure
    ports:
        - "8888:8888"
